html {
	height: 100%;
	display: flex;
	background-color: #000;
}

body {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 1em;
	color: #ffffff;
}

#song-list {
	display: flex;
	flex-direction: column;
	padding: 2em;
	list-style: none;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 3px;
}

#audio-player {
	display: block;
	width: 100%;
}

.song {
	cursor: pointer;
	pointer-events: all;
}

.playing {
	font-weight: bold;
}